$medium : 'PeydaMedium';
$light : 'PeydaRegular';
$bold : 'PeydaSemiBold';
$SuccessfulEntrance: rgba(255, 255, 0, 0.575);
$DuplicateEntrance: rgba(0, 255, 0, 0.562);
$FailedEntrance: rgba(255, 0, 0, 0.568);
$PrimaryColor : #03a0e4;
$SecondColor: #3fefef;